@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');

html, body, *, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-indent: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

a, Link {
    text-decoration: none;
    color: unset;
}

body {
    background: #f2f2f2;
    height: 100%;
    width: 100vw;
    user-select: none;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 1rem;
}

button {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-style: italic;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}